@import url("https://fonts.googleapis.com/css?family=Karla|Space+Mono&display=swap")

body
  position absolute
  margin 0
  padding 0
  height 100%
  width 100%
  background #575515
  font-family 'Karla', sans-serif
  color #ffffff

*
  cursor default

.app
  position absolute
  top 0
  right 0
  bottom 0
  left 0

button, input[type=submit]
  margin auto
  width 100px
  height 25px
  border 0px solid #D6CA82
  border-radius 2px
  font-family inherit
  background #D6CA82
  color #575515
  cursor pointer

  &:active
      opacity 0.7

a
  color #d6ca82
  cursor pointer

  &:active
    opacity 0.7