@keyframes cursor-blink
  0%
    opacity:1
  25%
    opacity:0
  50%
    opacity:0
  75%
    opacity:1
  100%
    opacity:1

.EditorView
  position absolute
  width 100%
  height 100%
  background #D6CA82

  header
    color: #D6CA82
    background #575515

    .app-title
        font-size 36px
        line-height 64px
        text-align center

    nav
      width 500px
      margin auto
      display flex
      align-items center
      justify-content space-around

      span
        text-align center
        padding 5px 10px
        cursor pointer

        &.active
          background #D6CA82
          color #575515
          font-weight bold
          border-top-left-radius 2px
          border-top-right-radius 2px

  main
    max-width 750px
    width 100%
    margin auto
    margin-top 16px

    .word-count
      width 100%
      text-align right
      color #575515
    
    .writable-area
      margin-top 64px
      width 100%
      height 318px
      overflow scroll
      font-family 'monaco'
      font-size 18px
      line-height 24px
      color #575515
      word-break normal
      overflow-wrap break-word
      white-space pre-wrap
      text-align left
      box-sizing border-box
      padding 3px 10px
      background rgba(255,255,255,0.2)
      border-radius 2px

      &:after
        content ""
        width 10.8px
        height 18px
        background #575515
        position relative
        display inline-flex
        top 4px
        animation cursor-blink 1.2s infinite
        white-space pre-wrap

    .downloader-button
      display block
      margin auto
      margin-bottom 15px
      margin-top 24px
      padding 10px 20px
      border none
      background #575515
      color #D6CA82
      border-radius 2px
      font-size 16px
      cursor pointer
