@import './Header'

body
    background #ffffff

.ProjectView
    color #575515
    max-width 500px
    margin auto

    h2
        font-weight normal

    > ul
        padding 0
        list-style none

        > li
            position relative
            margin 5px 0
            padding 5px 10px
            box-sizing border-box

            &:hover
                background none

            > a
                &:link,
                &:visited,
                &:focus,
                &:hover,
                &:active
                    color inherit
                    display block
                    float right
