.RegisterView
    max-width 400px
    padding 30px
    box-sizing border-box
    text-align center
    font-family monospace
    margin auto
    // margin-top 50px

    .title
        font-size 72px
        text-align left
        margin auto
        position relative
        padding-left 50px

    input
        display block
        width 100%
        height 25px
        border 1px solid #ccc
        border-radius 2px
        margin 10px 0
        font-family inherit
        padding 0px 10px
        box-sizing border-box
        background #ffffff

        &.invalid
            border-color #ff0000

    p.error
        color #ff0000

    button
        display block
        margin auto
        margin-bottom 15px
        width 100px
        height 25px
        border 1px solid #cccccc
        border-radius 2px
        font-family inherit
        background #ffffff
        color #000000

        &:hover
            background none

        &:active
            background #ffffff
            color #000000

        &:disabled
            background none

    a
        font-size 12px